@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <h1>Welcome to VacationManager!</h1>
    <p>
        Welcome to VacationManager, the one-stop solution for managing your company's leave policies. With our app, you can easily keep track of your employees' paid leave, unpaid leave, and sick leave, making it simpler to manage your company's vacation policies.
        <br />
        With VacationManager, you can streamline the leave request and approval process, allowing your employees to easily request time off and giving you the ability to quickly approve or deny those requests. You can also view a detailed history of each employee's leave, making it easy to identify trends and patterns in their vacation requests.
        <br/>
        Our app is designed to be intuitive and user-friendly, ensuring that you can quickly and easily navigate through all of its features. Whether you are a manager or an employee, VacationManager is the perfect tool for managing your company's leave policies.
        <br /><br /><br />
        So why wait? Sign up for VacationManager today and start simplifying your company's leave policies.
    </p>
</div>